/* 主色系 */
@font-face {
  font-family: 'iconfont';
  /* project id 704952 */
  src: url('//at.alicdn.com/t/font_704952_c08e83nzmlp.eot');
  src: url('//at.alicdn.com/t/font_704952_c08e83nzmlp.eot?#iefix') format('embedded-opentype'), url('//at.alicdn.com/t/font_704952_c08e83nzmlp.woff') format('woff'), url('//at.alicdn.com/t/font_704952_c08e83nzmlp.ttf') format('truetype'), url('//at.alicdn.com/t/font_704952_c08e83nzmlp.svg#iconfont') format('svg');
}
.iconfont {
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  font-style: normal;
  font-family: 'iconfont';
}
html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
del,
dfn,
em,
img,
small,
strong,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
section,
summary {
  -webkit-tap-highlight-color: transparent;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
html,
body {
  height: 100%;
  width: 100%;
}
body {
  -webkit-font-smoothing: antialiased;
  padding: 0;
  margin: 0;
  font: 16px/1.2 'HanHei SC', 'PingFang SC', 'Helvetica Neue', 'Helvetica', 'STHeitiSC-Light', 'Arial', sans-serif;
  color: #333;
}
h1,
h2,
h3,
h4,
h5 {
  padding: 0;
  margin: 0;
  font-weight: normal;
}
ul,
ol,
li {
  list-style-type: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
img {
  display: inline-block;
  -webkit-touch-callout: none;
}
a {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}
button {
  border: none;
}
input[type="text"],
input[type="number"],
input[type="email"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="url"],
button {
  padding: 0;
  outline: none;
  border-radius: 0;
  border: none;
}
